<div class="container mt-3">
    <div class="card rounded-4 w-100 bg-red">
        <div class="card-body">
            <h2 class="titulo ps-2 fs-2 mb-0">Albums</h2>
        </div>
    </div>
</div>

<div class="container-fluid h-75 d-flex">
    <div class="row w-100">
        <div class="col-12" *ngFor="let album of dataSource">
            <mat-card class="bg-transparent" routerLink="/inicio">
                <mat-card-title-group class="align-items-center">
                    <mat-card-title class="text-white">{{album.nombre}}</mat-card-title>
                    <img mat-card-lg-image class="w-25 h-25" src="{{album.img}}" alt="img">
                </mat-card-title-group>
            </mat-card>
        </div>


    </div>
</div>